.preview-set-group-container{
  //border: 1px solid orange;
  margin: auto;
  .preview-set-group-top-buttons{
    //border: 1px solid green;
    .set-group-btn-column{

      display: flex;
      justify-content: center;

      button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        width: 80%;
        text-align: center;
      }
    }
    
  }
  .set-groups{
    //border: 1px solid pink;
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}