.add-week-btn{
  margin: 10px 0 50px 0;
  width: 100%;
}

.week-container{
  padding: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  .week-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 10px;
    color: $bs-dark;
    border-radius: 4px;
    margin-top: 10px;
  }
  .week-container-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;
    min-height: 100px;
    margin-bottom: 20px;
    
  }
}

.day-container-card{
  //border: 1px solid red;
  margin: 10px auto;
  width: 50%;
  min-height: 200px;
  min-width: 300px;
  padding: 5px;
  @media only screen and (max-width: 770px) {
    width: 100%;
    min-width: 0;
  }
  .day-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card-header{
    background-color: $bs-dark;
    color: whitesmoke;
    a{
      color: whitesmoke;
      background-color: $routine-red;
      border-radius: 50px;
      padding: 0px 10px 0px 10px;
    }
  }
  .card-body{
    background-color: whitesmoke;
  }

  .set-group-schedule-card{
    .set-group-schedule-card-header{
      display: flex;
      justify-content: space-between;
      background-color: $routine-red;
      .delete-btn-container{
        .delete-icon{
          cursor: pointer;
        }
      }
    }
    .set-group-schedule-card-body{
      color: $bs-dark;
    }
  }

}
.day-container-card-hovering{
  background-color: $routine-red;
  //background-color: $spanish-gray;
  .card-header{
    background-color: $russian-green;
    color: white;
    font-weight: bolder;
    
  }
  .card-body{
    background-color: whitesmoke;
  }
}