.add-week-btn{
  margin: 10px 0 50px 0;
  width: 100%;
}

.routine-schedule-dnd{
  background-color: $bs-dark;
  border-radius: 4px;
  .week-selector{
    select{
      background-color: $bs-dark;
      color: white;
    }
  }
}

.week-container{
  padding: 30px;
  border-radius: 4px;
  margin-top: 10px;
  .week-container-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    color: white;
    border-bottom: 1px solid lightslategrey;
    margin-top: 10px;
    h5{
      margin-right: 20px;
    }
  }
  .week-container-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;
    min-height: 100px;
    margin-bottom: 20px;
    
  }
}
/* ========== DAY ========= */
.day-container-card{
  border: 2px solid $jet;
  background-color: $bs-dark;
  margin: 10px 0;
  width: 30%;
  min-height: 200px;
  min-width: 300px;
  padding: 5px;
  @media only screen and (max-width: 770px) {
    width: 100%;
    min-width: 0;
  }
  .day-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card-header{
    background-color: $bs-dark;
    color: whitesmoke;
    a{
      color: whitesmoke;
      background-color: $routine-red;
      border-radius: 50px;
      padding: 0px 10px 0px 10px;
    }
  }  
}
.day-container-card-hovering{
  .card-header{
    background-color: $routine-red;
    color: white;
    font-weight: bolder;
    
  }
}


/* ========= SET GROUP =========== */
.set-group-schedule-card{
  margin: 5px auto;
  cursor: grab;
  background-color: $bs-dark;
  border: 1px solid $routine-red;
  .set-group-schedule-card-header{
    display: flex;
    justify-content: space-between;
    background-color: $routine-red;
    .delete-btn-container{
      .delete-icon{
        cursor: pointer;
      }
    }
  }
  .set-group-schedule-card-body{
    .card-subtitle{
      color: whitesmoke;
      font-size: 13px;
      font-weight: bold;
    }
  }
}


