.auth-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
  input{
    padding: 3px;
    margin-bottom: 10px;
  }
  button{
    background-color: $routine-red;
    margin-top: 10px;
    color: white;
  }
}

.sign-in-form-container, .sign-up-form-container{
  margin-top: 100px;
}



.error-message-container{
  height: 0px;
  transition: height .5s cubic-bezier(.17,.67,.83,.67);
  /* .error-message{
    transition: all linear 4s;
    display: block;
  }

  .hide-message{
    opacity: 0;
  } */
}

.open-container{
  height: 25px;
}