.auth-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
  input{
    padding: 3px;
    margin-bottom: 10px;
  }
  button{
    background-color: $routine-red;
    margin-top: 10px;
    color: white;
  }
}

.sign-in-form-container, .sign-up-form-container{
  margin-top: 100px;
}

.sign-up-form-container{
  p{
    font-size: 14px;
  }
  .icon{
    position: relative;
    bottom: 2px;
    margin: 2px;
  }
}



.error-message-container{
  height: 0px;
  visibility: hidden;
  transition: height .2s cubic-bezier(.17,.67,.83,.67);
  .error-message{
    opacity: 0;
    transition: opacity cubic-bezier(.17,.67,.83,.67) .5s;
  }

  .show-message{
    opacity: 1;
  }
}

.open-container{
  height: 55px;
  visibility: visible;
}