.single-rouitne-calendar{
  border-bottom: 1px solid black;
  border-radius: 2px;
  height: 100%;
  margin-top: 20px;
  .calendar-header{
    background-color: $bs-dark;
    color: white;
    
    .view-routine-link-container{
      display: flex;
      justify-content: center;
      .view-routine-link{
        margin-right: 20px;
        padding: 5px;
        background-color: $routine-red;
        color: whitesmoke;
        border-radius: 50px;
        padding: 3px 10px 3px 10px;
        margin-top: 10px;
      }
    }
  }

  .calendar-header-top{
    border: 1px dashed $routine-red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .calendar-header-bottom{
    display: flex;
    color: darkgray;
    justify-content: space-between;
    background-color:  $routine-red;
    h6{
      margin: auto;
    }
  }

  .day-sections{
    display: flex;
    flex-wrap: wrap;
    //margin-bottom: 20px;
    z-index: 99;
    .tool-tip-title{
      color: $routine-red;
    }
    .day-marker{
      height: 1vw;
      width: 1vw;
      min-height: 2px;
      min-width: 2px;
      border-radius: 50%;
      margin: 2px;
      position: relative;
      cursor: pointer;
      z-index: 100;
    }
  }
  
  .arrow{
    cursor: pointer;
    position: relative;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  
  .week{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  
  .day{
    width: 17%;
    border-right: 1px solid black;
    cursor: pointer;
    p{
      margin: 0;
    }
  }
  
  .today{
    background-color: gray;
    color: white;
  }
  
  .before{
    color: lightgray;
    cursor: not-allowed;
  }
  
  .selected{
    background-color: $routine-red;
    color: white;
  }


}





