#manage-routines-calendar{
  //background-color: green;
  font-size: 15px;
 /*  .calendar-header-top{
    font-size: 15px;
    .arrow{
      font-size: 25px;
    }
  } */

  .live-week:hover{
    border: 1px solid red;
  }

  .day{
    font-size: 10px;
  }



}