.routine-color-legend{
  .legend-wrapper{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .name-and-slider-container{
    //background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 12px;
    height: 15px;
    transition: height .04s linear;
    .name-and-day-marker{
      display: flex;
      .day-marker{
        height: .8em;
        width: .8em;
        border-radius: 50%;
        margin: 2px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .hue-picker{
      max-width: 100%;
      width: 100%;
    }
    .slider-container{
      max-width: 300px;
      min-width: 220px;
      opacity: 0;
      z-index: 10;
      a{
        padding: 0;
        margin: 5px 0;
      }
    }

  }
  .showing-picker{
    height: 100px;
    .showing-picker-slider{
      opacity: 1;
    }
  }
}