.search-exercises-form{
  color: white;
  padding: 20px;
  .col{
    .form-label{
      color: white;
    }

    .form-check{
      #Endurance{
        color: $routine-red;
        background-color: $routine-red;
      }
      input{
        background-color: $routine-red;
      }
    }
    label{
      color: white;
    }  
  }
}

.browse-exercise-search-container{
  background-color: $bs-dark;
  border-radius: 4px;
  padding: 10px;
  .exercise-search-results-outer{
    width: 95%;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 4px;
    .exercise-search-results-inner{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .card{
      //margin-right: 2px;
    }
  }

}

