.schedule-page-calendar{
  border-bottom: 1px solid black;
  .calendar-header{
    color: white;
    .view-routine-link-container{
      display: flex;
      justify-content: center;
      .view-routine-link{
        margin-right: 20px;
        padding: 5px;
        background-color: $routine-red;
        color: whitesmoke;
        border-radius: 50px;
        padding: 3px 10px 3px 10px;
        margin-top: 10px;
      }
    }
  }

  .calendar-header-top{
    border: 1px dashed $routine-red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .calendar-header-bottom{
    display: flex;
    color: darkgray;
    justify-content: space-between;
    background-color:  $routine-red;
    h6{
      margin: auto;
    }
  }
  
  .arrow{
    cursor: pointer;
    position: relative;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .schedule-week-container{
    position: relative;
    .view-week-btn{
      width: fit-content;
      margin-bottom: 0;
      padding-top: 5px;
      cursor: pointer;
    }

    
  }
  
  .week{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border: 1px solid red;
    position: relative;
    .routine-sections{
      //border: 1px solid lime;
      position: absolute;
      width: 100%;
      top: 1.5em;
      z-index: 10;
      .routine-section{
        max-height: 1em;
        height: .5em;
        font-size: .4em;
        margin-bottom: 2px;
      }
    }
  }
  
  .day{
    width: 17%;
    border-right: 1px solid black;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  
  .today{
    background-color: gray;
    color: white;
  }
  
  .before{
    color: lightgray;
    cursor: not-allowed;
  }
  
  .selected{
    background-color: $routine-red;
    color: white;
  }
}