.sub-group-builder-container, .targets-setter-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  label{
    margin-bottom: 0;
    font-size: .9rem;
  }
  .tabs-row{
    //border: 1px solid greenyellow;
    .tabs-column{
      .sets-column{
        input{
          max-width: 50px;
        }
      }
      .nav{
        margin: auto;
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  }

  .choose-target-label{
    padding: 0;
    margin: 0;
  }
  
  
}

.target-setter-tab-item, .starting-target-tab-item{
    .target-setter-tab-link, .starting-target-tab-link{
      text-align: center;
    }
}
