.modal{

  .modal-content{
    background-color: $bs-dark;
    border: none;
    .modal-header{
      background-color: $bs-dark;
      color: white;
      .close{
        color: white;
      }
    }
  }
}


/* .modal-header{
  background-color: $bs-dark;
  .confirm-delete-title{
    color: $routine-red;
  }
  .close{
    color: white;
  }
} */