.view-set-group-modal{
  .view-set-group-modal-header{
    background-color: $bs-dark;
    h5{
      span{
        color: $spanish-gray;
      }
      color: $routine-red;
    }
    .close{
      color: white;
    }
  }

  .view-set-group-modal-body{
    padding: 20px;
  }
  
  .set-group-modal-sets-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    p{
      font-weight: bold;
      padding: 0;
      margin: 0;
      i{
        color: $routine-red;
      }
    }
    .targets-and-actual-list{
      list-style: none;
      font-size: 14px;
      margin: 0 auto;
      li{
        margin-left: 20px;
        text-transform: capitalize;
        i{
          text-transform: none;
        }
      }
    }
  }
}

.delete-week-modal{
  .delete-modal-header{
    background-color: $bs-dark;
    color: $routine-red;
  }
}