.set-group-exercise-search{
  background-color: $bs-dark;
  padding: 10px;
  .set-group-exercise-search-btns-container{
    //border: 1px solid red;
    //width: 95%;
    margin: auto;
    .btn-row{
      display: flex;
    }
    .btn-column{
    margin: 5px auto;
      button{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .search-exercises-form{
    //border: 1px solid red;
    //width: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    .row-muscle-group-and-category{
      //border: 1px solid yellow;
      //width: 95%;
      margin: auto;
      .col-muscle-group-and-category{
        //border: 1px solid blue;
        padding: 0;
        .form-checkbox-container{
          //border: 1px solid red;
          width: fit-content;
          display: grid;
          grid-template-columns: auto auto;
          @media only screen and (max-width: 1000px) {
            grid-template-columns: auto auto;
          }
          .form-check{
            margin-right: 15px;
          }
        }


      }
    }
  }
  
  
  .chosen-exercises-bank{
    //border: 1px solid yellow;
    color: white;
    //max-width: 95%;
    margin-bottom: 20px;
    padding: 0;
    .chosen-exerciese-bank-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        color: $russian-green;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }

    .bank-body{
      border: 2px solid $routine-red;
      min-height: 100px;
      border-radius: 4px;
      position: relative;
      padding: 10px;
      .no-exercises-message{
        padding: 10px;
        width: fit-content;
        margin: auto;
      }
    }

    ul{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none;
      li{
        margin-right: 20px;
        padding-left: 0;
        color: $honey-yellow;
      }
    }
    
    .remove-icon{
      color: $routine-red;
      cursor: pointer;
    }

  }

  .set-group-exercise-search-results{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //max-width: 95%;
    margin: auto;
    background-color: $spanish-gray;
    padding: 20px 0;
    border-radius: 4px;
    h5{
      margin-bottom: 20px;
    }
    .attach-exercise-to-set-card{
      margin: 5px;
    }

  }

}

