.set-group-exercise-search{
  background-color: $bs-dark;
  padding: 10px;
  .set-group-exercise-search-btns-container{
    //border: 1px solid red;
    //width: 95%;
    margin: auto;
    .btn-row{
      display: flex;
    }
    .btn-column{
    margin: 5px auto;
      button{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .search-exercises-form{
    //border: 1px solid red;
    //width: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    .row-muscle-group-and-category{
      //border: 1px solid yellow;
      //width: 95%;
      margin: auto;
      .col-muscle-group-and-category{
        //border: 1px solid blue;
        padding: 0;
        .form-checkbox-container{
          //border: 1px solid red;
          width: fit-content;
          display: grid;
          grid-template-columns: auto auto;
          @media only screen and (max-width: 1000px) {
            grid-template-columns: auto auto;
          }
          .form-check{
            margin-right: 15px;
          }
        }


      }
    }
  }
  
  
  .chosen-exercises-bank{
    //border: 1px solid yellow;
    color: white;
    //max-width: 95%;
    margin-bottom: 20px;
    padding: 0;
    .chosen-exerciese-bank-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        color: $russian-green;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }

    
  }

  .bank-body{
    //border: 2px solid $routine-red;
    background-color: $bs-dark;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 100px;
    border-radius: 4px;
    position: relative;
    padding: 10px;
   
    .no-exercises-message{
      padding: 10px;
      width: fit-content;
      margin: auto;
    }
  }

  .bank-card-draggable{
    border: 1px solid $honey-yellow;
    border-radius: 4px;
    padding: 2px;
    margin:  5px;
    //width: fit-content;
    flex: 0 0 auto;
  }

  .bank-card{
    background-color: $bs-dark;
    width: 175px;
    cursor: grab;
    .name-and-index{
      //border: 1px solid red;
      font-size: 12px;
      width: 100%;
      text-align: center;
    }
    .card-body{
      background-color: $bs-dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .target-icons-container{
        display: flex;
        justify-content: center;
        width: 100%;
        .no-targets-span{
          font-size: 10px;
          font-style: italic;
        }
        .icon{
          margin: 0 2px;
        }
      }

      .grabber-icon,.copy-icon,.target-icon, .create-subset-icon{
        color: $spanish-gray

      }
      .remove-icon, .copy-icon, .target-icon, .create-subset-icon{
        cursor: pointer;
      }
      .grabber-icon{
        cursor: grab;;
        position: absolute;
        top: 0;
        left: 0;
      }
      .create-subset-icon{
        position: absolute;
        bottom: 0;
        background-color: $spanish-gray;
      }
      .copy-icon{
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .target-icon{
        position: absolute;
        top: 0;
        right: 0;
        circle{
          color: $routine-red;
        }
        :nth-child(2){
          color: white;
        }
        /* circle{
          color: red;
        } */
        path{
          color: $routine-red;
        }
      }
      .remove-icon{
        color: $routine-red;
        position: absolute;
        bottom: 0;
        right: 0;
      }


    .card-subtitle{
      color: $honey-yellow;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    }
    
  }

  .set-group-exercise-search-results{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    background-color: $spanish-gray;
    padding: 20px 0;
    border-radius: 4px;
    h5{
      margin-bottom: 20px;
    }
    .attach-exercise-to-set-card{
      margin: 5px;
    }

  }

}

