.manage-routines{
  //border: 1px solid yellow;
  height: 100%;
  .row{
    .routines-column{
      margin: auto;
      h2{
        margin-bottom: 20px;
      }
    }
  }
}

.options-menu{
  #new-routine{
    display: 'flex';
    //align-items: 'center';
    background-color: whitesmoke;
    width: 100%;
    color: $routine-red;
    font-weight: 600;
  }
}