.current-sets{
  //background-color: lightblue;
  .set-group-card{
    background-color: $bs-dark;
    cursor: pointer;
    .card-header{
      background-color: $routine-red;
    }
  }
}


.execute-set{
  .ex-set-navs{
    display: flex;
    justify-content: space-between;
    .link-container{
      a:hover{
        color: red;
      }
    }
  }
}