.current-sets{
  //background-color: lightblue;
  max-width: 500px;
  margin: auto;
  .set-group-card{
    background-color: $bs-dark;
    cursor: pointer;
    margin-bottom: 20px;
    .card-header{
      background-color: $jet;
    }
    .card-body{
      background-color: $bs-dark;
    }
  }
}

.back-to-container{
  margin-bottom: 10px;
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid $routine-red;
  padding: 15px;
  border-radius: 4px;
  background-color: $jet;
  cursor: pointer;
  .icon{
    position: relative;
    bottom: 2px;
  }
}


.execute-set{
  max-width: 500px;
  margin: auto;
  .execute-set-inner{
    margin-top: 20px;

    .instruction-btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .btn-text-container{
        display: flex;
        align-items: center;
        height: 25px;
        position: relative;
        .point-left-icon{
          position: relative;
          bottom: 2px;
        }
        .eye-icon{
          position: relative;
          bottom: 1px;
        }
      }
    }

    .not-recorded-span{
      font-style: italic;
    }

    .revising-or-saved-container{
      .list{
        list-style: none;
        li{
          margin-bottom: 10px;
          padding: 10px;
        }
      }
    }

  

    .inputs-list{
      .inputs-list-list-item{
        //padding: 0 10px;
        margin-bottom: 7px;
        position: relative;
        .list-item-top{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .edit-button{
            margin: 12px;
          }
          .done-btn{
            position: relative;
            top: 18px;
            margin-left: 10px;
          }

        }
        .list-item-bottom{
          margin-top: 10px;
          height: 1px;
          opacity: 0;
          transition: height .3s linear, opacity .2s linear;
          //transition: .8s opacity linear;
        }

        .show-list-item-bottom{
          height: 50px;
          opacity: 1;
          transition: height .3s linear, opacity .6s ease-in-out;
        }


      }
    }
    

    .inputs-and-targets-saved-container{
      .targets-and-actuals-list{
     
        li{
          
          div{
            margin: 5px;
          }
          .revise-btn{
            margin-top: 1rem;
          }

        }
      }
    }

    .instruction-card-container{
      display: flex;
      .card{
        margin: auto;
      }
    }
  }
}


.ex-set-navs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .select-container{
    margin-bottom: 10px;
  }
  .links-container{
    display: flex;
    justify-content: space-between;
    .link-container{
      .nav-link{
        padding: 0;
      }
      .nav-link:hover{
        color: red;
      }
    }
  }
}