.current-sets{
  //background-color: lightblue;
  .set-group-card{
    background-color: $bs-dark;
    cursor: pointer;
    .card-header{
      background-color: $routine-red;
    }
  }
}


.execute-set{
  .execute-set-inner{
    margin-top: 20px;
    border: 1px solid red;
    .inner-header{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    .instruction-card-container{
      display: flex;
      .card{
        margin: auto;
      }
    }
  }
}


.ex-set-navs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .back-to-set-groups-container{
    margin-bottom: 10px;
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    width: fit-content;
    .icon{
      position: relative;
      bottom: 2px;
    }
  }
  .select-container{
    margin-bottom: 10px;
  }
  .links-container{
    display: flex;
    justify-content: space-between;
    .link-container{
      .nav-link{
        padding: 0;
      }
      .nav-link:hover{
        color: red;
      }
    }
  }
}