.manage-routines{
  //border: 1px solid yellow;
  height: 100%;
  .routines-container{
    //border: 2px solid hotpink;
  }
}


.options-menu{
  
  #new-routine{
    display: 'flex';
    //align-items: 'center';
    width: 100%;
  }
}

.routines-bank{
  margin: 20px 0;
  ul{
    list-style: none;
  }
}


#manage-routines-calendar{
  //background-color: green;
  font-size: 15px;
  //border-bottom: 1px solid black;

  .live-week:hover{
    border: 1px solid red;
  }

  .day{
    font-size: 10px;
    min-height: 100px;
  }





}