.manage-routines{
  //border: 1px solid yellow;
  height: 100%;
}

.routines-and-stats-container{
  //background-color: lightcoral;
  //width: fit-content;
  margin: auto;
  display: flex;
  @media only screen and (max-width: 1420) {
    flex-direction: column;
  } 
}

.options-menu{
  nav{
    display: flex;
    justify-content: space-between;
  }
  #new-routine{
    display: 'flex';
    align-items: 'center';
    
  }
}

.routines-bank{
  margin-top: 20px;
}

.in-bank-routine{
  //border: 3px solid green;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
  //transition: height 500ms ease-out;
  button{
    width: 100%;
    background-color: $routine-red;
    color: white;
  }
  .routine-detail{
    //border: 1px solid blue;
    //opacity: 0;
    transition: opacity 1.5s ease-out;
    ul{
      //margin: auto;
      //border: 1px solid yellow;
      width: fit-content;
      //padding-left: 5px;
    
    }
  }
  
}

.opened{
  height: 200px;
  .show-detail{
    opacity: 1;
    transition: opacity 500ms ease-out;
  }
}

#manage-routines-calendar{
  //background-color: green;
  font-size: 15px;
  //border-bottom: 1px solid black;

  .live-week:hover{
    border: 1px solid red;
  }

  .day{
    font-size: 10px;
    min-height: 100px;
  }

  .week{

  }



}