.type-explanation-and-use-btn{
  display: flex;
  flex-direction: column;
  .use-set-type-btn{
    width: fit-content;
    margin-top: 20px;
  }
}

.create-set-group-navs-container{
  //border: 1px solid red;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  .create-set-group-navs-row{
    //border: 1px solid yellow;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .create-set-group-btn-column{
  margin: 5px auto;
    button{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  /* .disabled-step-btn{
    background-color: whitesmoke;
    border: whitesmoke;
    color: rgba(155,157,160, .4);
  }

  .disabled-previous-step-btn{
    background-color: whitesmoke;
    border: whitesmoke;
    color: rgba(155,157,160, .4);
  } */
}