.embed-accordion{
  //border: 2px solid red;
  margin: 0;
  padding: 0;
  background-color: black;
  .btn-link{
    color: $routine-red;
    transition: none;
  }
  
  
  img{
    //border: 2px solid lime;
    height: fit-content;
    width: fit-content;
  }
  .card{
    background-color: $bs-dark;
    margin: auto;
    .card-header{
      padding: 0;
      .btn{
        padding: 0;
      }
    }
    .card-body{
      background-color: $bs-dark;
      //border: 2px solid lime;
      height: fit-content;
      margin: auto;
      .step{
        //border: 2px solid red;
        min-width: 75%;
        text-align: center;
        margin: 20px auto;
        h4{
          margin-top: 20px;
          
        img{
          margin: auto;
          max-width: 400px;
        }   
        }
        margin: auto;
      }
    }
  }
}