.dashboard{
  .month-picker-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: $bs-dark;
    top: 50px;
    padding-top: 20px;
  }

  .form-group-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .form-group{
      display: flex;
      justify-content: space-between;
      width: 250px;
      flex-wrap: wrap;
      input{
        cursor: pointer;
      }
    }
  }

  .visualizations-container{
    position: relative;
    top: 70px;
  }

  

  .exercise-pies-container{
    .row{
      position: relative;
    }
    .pie-column{
      position: relative;
      h5{
        text-align: center;
        position: relative;
        top: 30px;
      }
    }
    @media screen and (max-width: 767px){
      .pie-column:nth-child(2){
        bottom: 80px;
      }
    }
    .novi-pie-chart-container{
      min-width: 250px;
      margin: 0 auto;
      color: black;
      font-weight: bold;
    }
  }

  .line-chart-and-controls{
    .weekly-totals-header{
      text-align: center;
    }
    .line-chart-heading{
      text-align: center;
      margin-top: 20px;
    }
    
    .checkboxes-container{
      margin: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}