.dashboard{
  .month-picker-container{
    //background-color: lightblue;
    background-color: $bs-dark;
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 15px 10px 5px 5px;
    .month-picker-inner{
      //background-color: lightcoral;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      width: 300px;
      position: relative;
      label{
        position: relative;
        top: 5px;
      }
    }
  }

  .form-group-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .form-group{
      display: flex;
      justify-content: space-between;
      width: 250px;
      flex-wrap: wrap;
      input{
        cursor: pointer;
      }
    }
  }

  .visualizations-container{
    position: relative;
    top: 70px;
  }

  .ex-pies-and-checkbox{
    margin-top: 20px;
  }

  .exercise-pies-container{
    .row{
      position: relative;
    }
    .pie-column{
      position: relative;
      h5{
        text-align: center;
        position: relative;
        top: 30px;
      }
    }
    @media screen and (max-width: 767px){
      .pie-column:nth-child(2){
        bottom: 80px;
      }
    }
    .novi-pie-chart-container{
      height: 20vw;
      min-width: 250px;
      min-height: 350px;
      margin: 0 auto;
      color: black;
      font-weight: bold;
    }
  }

  .line-chart-and-controls{
    margin-top: 20px;
    .weekly-totals-header{
      text-align: center;
    }
    .line-chart-heading{
      text-align: center;
      margin-top: 20px;
    }
    
    .checkboxes-container{
      margin: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}