.selected-card{
  border: 1px solid $honey-yellow;
}

.attach-exercise-to-set-card{
  width: 20rem;
  @media only screen and (max-width: 1000px) {
    width: 45%;
  }
  @media only screen and (max-width: 790px) {
    width: 100%;
  }
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .card-header{
    display: flex;
    justify-content: space-between;
    .count{
      margin-left: 20px;
      color: $honey-yellow;
      display: flex;
      overflow: auto;
    }
    span{
      font-weight: bolder;
    }
  }

  .card-body{
    position: relative;
    #github-picker{
      border: 1px solid lime;
      background-color: red;
    }
    .hide-added-alert{
      background-color: $kelly-green;
      text-align: center;
      font-size: 12px;
      padding-right: 0.6em;
      padding-left: 0.6em;
      position: absolute;
      left: 0;
      top: -10px;
      width: 100%;
      opacity: 0;
      visibility: 0;
      -webkit-transition: visibility 2s, opacity 2s, background-color 2s;
      transition: visibility 2s, opacity 2s, background-color 2s;
    }
    .show-added-alert{
      background-color: $kelly-green;
      text-align: center;
      font-size: 12px;
      padding-right: 0.6em;
      padding-left: 0.6em;
      position: absolute;
      left: 0;
      top: -10px;
      width: 100%;
      opacity: 1;
      visibility: visible;
      -webkit-transition: visibility .5s, opacity .5s, background-color .5s;
      transition: visibility .5s, opacity .5s, background-color .5s;
    }
    .add-remove-btn-config{
      .card-link-container{
        margin-bottom: 20px;
        text-align: center;
        .next-step-btn{
          background-color: inherit;
          border: 1px solid $russian-green;
          color: $russian-green;
          width: 70%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg{
            color: $russian-green;
          }
          &:hover{
            border: 1px solid $live-green;
            color: $live-green;
            svg{
              color: $live-green;
            }

          }
        }
        .card-link{
          cursor: pointer;
          margin: 0 auto;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .add-to-set-link{
        border: 1px solid $dead-yellow;
        color: $dead-yellow;
        &:hover{
          border: 1px solid $corn;
          color: $corn;
        }
      }

      .remove-from-set-link{
        border: 1px solid $routine-red;
        color: $routine-red;
        &:hover{
          border: 1px solid red;
          color: red
        }
      }
    }

    .card-subtitle{
      span{
        color: $gold-crayola;
      }
    }

    .card-difficulty{
      margin-top: 20px;
      .progress-bar-outer{
        margin-top: 5px;
      }
    }

    .embeded-video{
      margin-top: 20px;
    }
  }
}