.attach-exercise-to-set-group-search-results{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 4px;
  h5{
    margin-bottom: 20px;
  }
}