.create-setgroup-page-container{
  .create-set-group-page-header{
    margin-bottom: 20px;
  }
  .tab-content{
    background-color: $bs-dark;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
