.create-setgroup-page-container{
  .create-set-group-page-header{
    margin-bottom: 20px;
  }
  .create-set-group-tabs{
    border-bottom: none;
    .active{
      background-color: whitesmoke;

    }
  }
  .tab-content{
    border: 1px solid whitesmoke;
    background-color: $bs-dark;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
