.attach-exercise-to-set-card{
  width: 18rem;
  margin: 20px auto;
  .card-header{
    display: flex;
    justify-content: space-between;
    
    span{
      font-weight: bolder;
    }

    
  }
  .card-body{

    .card-link-container{
      margin-bottom: 20px;
      text-align: center;
    }

    .card-link{
      border-radius: 50px;
      padding: 2px 10px 2px 10px;
      color: white;
    }

    .add-to-set-link{
      background-color: $russian-green;
    }
    .remove-from-set-link{
      background-color: $routine-red;
    }
    


    .card-subtitle{
      span{
        color: $gold-crayola;
      }
    }

    .card-difficulty{
      margin-top: 20px;
      .progress-bar-outer{
        margin-top: 5px;
      }
    }

    .embeded-video{
      margin-top: 20px;
    }
  }
}