$routine-red: #A00E0E;
$jet: #343434ff;
$wine: #602e2eff;
$rufous: #a00e0eff;
$deep-taupe: #7f5959ff;
$spanish-gray: #8d8d8dff;
$kelly-green: #3ec300;
// browns
$persian-plum: #6f1d1bff;
$camel: #bb9457ff;
$bistre: #432818ff;
$windsor-tan: #99582aff;
$banana-mania: #ffe6a7ff;
$bistre: #352208ff;
$gold-crayola: #e1bb80ff;
$gold-fusion: #7b6b43ff;
$field-drab: #685634ff;
$raw-umber: #806443ff;