// Variables
@import './variables';
// bootstrap
@import "./custom_bs.scss";

// Auth
@import './7_Auth/auth.scss';
@import './5_Pages/user_dashboard/user_dashboard.scss';

// Calendar
@import './4_Components/calendar/basic_calendar.scss';


// Exercises
@import './5_Pages/manage_exercises/manage_exercises.scss';

// Routines 
@import './5_Pages/manage_routines/manage_routines.scss';

// Layouts 
@import './6_Layouts/layout_one/layout_one.scss'


