@import './5_Pages/user_dashboard/user_dashboard.scss';

// Calendar
@import './4_Components/calendar/basic_calendar.scss';
@import './4_Components/calendar/manage_routines_calendar.scss';


// Exercises
@import './5_Pages/manage_exercises/manage_exercises.scss'