// reset
.App{
  position: relative;
}
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4
}

h1{
  font-size: 3rem;
}

// Variables
@import './variables';
// bootstrap
@import "./custom_bs.scss";

// Auth
@import './7_Auth/auth.scss';
@import './5_Pages/user_dashboard_page/user_dashboard_page.scss';

// Exercises
@import './5_Pages/manage_exercises_page/manage_exercises_page.scss';

// Browse Exercises
@import './5_Pages/browse_exercises_page/browse_exercises_page.scss';

// Routines 
@import './5_Pages/manage_routines_page/manage_routines_page.scss';

// Layouts 
@import './6_Layouts/layout_one/layout_one.scss';

// Modals
@import './4_Components/modals/modals.scss';

// Calendar
@import './4_Components/calendar/basic_calendar.scss';


// Routine Form 
@import './4_Components/routine/form_routine/form_routine.scss';

// Exercise Form 
@import './4_Components/iframe/iframe.scss';

// Set Group
@import './5_Pages/create_set_group_page/create_or_edit_set_group_page.scss';
@import './4_Components/set_group/form_create_set_group/set_group_forms.scss';
@import './4_Components/set_group/set_group_search_exercise/set_group_search_exercises.scss';
@import './4_Components/set_group/card_set_group/attach_exercise_to_sg_card.scss';
@import './4_Components/set_group/preview_set_group/preview_set_group.scss';
@import './4_Components/set_group/create_set_group_tab/create_set_group_tab.scss';

// Week 
@import './4_Components/week/week_template.scss';

// Accordion
@import './4_Components/routine/accordion_routines/routines_accordion.scss';
@import './4_Components/exercise/accordion_embed_instruction/embed_accordion.scss';
// Cards
@import './4_Components/exercise/card_exercise/exercise_card.scss';
@import './4_Components/set_group/card_set_group/attach_exercise_to_sg_card.scss';
@import './4_Components/exercise_set/card_exercise_set/exercise_set_card.scss';
//DND
@import './4_Components/dnd_routine_schedule/dnd_routine_schedule.scss';