.navbar{
  border-bottom: 1px solid $spanish-gray;
  .navbar-brand{
    color: $routine-red;
    position: relative;
    .weight-lift-up-icon{
      position: relative;
      bottom: 4px;
    }
  }
  .dropdown{
    background-color: $bs-dark;
    position: relative;
    top: 2px;
    .dropdown-menu{
      background-color: $bs-dark;
      .dropdown-item{
        color: white;
        &:hover{
          color: $routine-red;
          font-weight: bold;
        }
        &:active{
          color: white;
        }
      }
      .active:hover{
        color: white;
      }
    }
  }

  .logout-container{
    display: flex;
    align-items: center;
    font-size: 15px;
    .icon{
      font-size: 20px;
      color: white;
    }
  }
}