.preview-set-group-container{
  //border: 1px solid orange;
  margin: auto;
  padding: 0;
  background-color: $spanish-gray;
  border-radius: 4px;
  .preview-set-group-top-buttons{
    //border: 1px solid green;
    .set-group-btn-column{

      display: flex;
      justify-content: flex-start;

      button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        width: 100%;
        text-align: center;
      }
    }
    
  }
  .set-groups{
    //border: 1px solid pink;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .exercise-set-card{
      margin: 10px auto;
      min-width: 200px;
      max-width: 400px;
      .card-body{
        padding: 20px;
      }
    }
  }
}