.accordion{
  margin: 20px 0;
 
  ul{
    list-style: none;
  }

  .card{
    border: none;
    .card-body{
    background-color: whitesmoke;
    
    }
  }

  .details-and-btns-container{
    display: flex;
    justify-content: space-between;
    .spinner{
      margin: auto;
    }
    .edit-complete-expand-btns{
    display: flex;
    justify-content: flex-end;
      
      .discard-symbol{
        color: $gold-crayola;
      }
      .cmd-btn{
        margin: 10px;
        font-size:  25px;
        cursor: pointer;
      }
      .click-edit-btn{
        font-size: 30px;
        color: $routine-red;
      }
      .expand-symbol{
        font-size: 25px;
        color: $field-drab !important;
        
      }
      .check-symbol{
        font-size: 25px;
        color: $russian-green;
      }
    }
  }

  
  // CALENDAR
  .manage-routines-calendar{
    //background-color: green;
    font-size: 15px;
    //border-bottom: 1px solid black;

    .live-week:hover{
      border: 1px solid red;
    }

    .day{
      font-size: 10px;
      height: 8vmin;
    }

  }
}
